<html>
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.css">

	<style>
	      body {
	        background-image: url('https://storage.googleapis.com/osdbushare/Background_Website.jpg');
	        background-repeat: no-repeat;
	        background-attachment: fixed;
	        background-position: center;
	      }
	</style>
	</head>
		<body>
			<center>
			<h1>OSDBU Small Business Smart Search</h1>
			</center>
			<form method="POST", action="{{url_for('home')}}">
				<b> Company Name: <input type="text", name='a', value="none"> <br><br>
				<b> NAICS: <input type="text", name='b', value="none"><br><br>
				<b> State: <input type="text", name='c', value="none"><br><br>
				<b> Women Owned: <input type="text", name='d', value="none"> <br><br>
				<b> 8A Company: <input type="text", name='e', value="none"> <br><br>
				<b> Disabled Vet: <input type="text", name='f', value="none"> <br><br>
				<b> Hub Zone: <input type="text", name='g', value="none"> <br><br>
				<b> Minority Ownership: <input type="text", name='h', value="none"> <br><br>
				<b> NNSA: <input type="text", name='i', value="none"> <br><br>
				<b> Text: <input type="text", name='j', value="none"> <br><br>
				<b> Smart Filter Text: <input type="text a", name='k', value="none"> <br><br>
				<input type="submit" , value='submit'>
				<div class="container">
			

   
  
      <h1>{{ title }}</h1>
      <hr>
      {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>
    {% block scripts %}{% endblock %}
			</form>
		</body>
</html>
